extends ../layout/passage_layout

block sideNav
	include ../part/sideNav_mannual


block passageTitle
	h3 80周年校庆庆典指南

block passageContent
	.panel.panel-default
		.panel-body
			p.
				<TABLE style="BORDER-COLLAPSE: collapse" borderColor=#000000 cellSpacing=0 cellPadding=0 width=579 border=1>
				<TBODY>
				<TR>
				<TD width=117>
				<P align=center><FONT style="FONT-SIZE: 10.5pt">时间</FONT></P></TD>
				<TD width=254>
				<P align=center><FONT style="FONT-SIZE: 10.5pt">活动安排</FONT></P></TD>
				<TD width=208>
				<P align=center><FONT style="FONT-SIZE: 10.5pt">地&nbsp; 点</FONT></P></TD></TR>
				<TR>
				<TD width=117>
				<P align=center><FONT style="FONT-SIZE: 10.5pt">8:00-10:00</FONT></P></TD>
				<TD width=254>
				<P align=center><FONT style="FONT-SIZE: 10.5pt">校友报到</FONT></P></TD>
				<TD width=208>
				<P align=center><FONT style="FONT-SIZE: 10.5pt">石牌校区办公楼北停车场</FONT></P></TD></TR>
				<TR>
				<TD width=117>
				<P align=center><FONT style="FONT-SIZE: 10.5pt">10:00-11:30</FONT></P></TD>
				<TD width=254>
				<P align=center><FONT style="FONT-SIZE: 10.5pt">建校80周年纪念大会</FONT></P></TD>
				<TD width=208>
				<P align=center><FONT style="FONT-SIZE: 10.5pt">石牌校区西区田径场</FONT></P></TD></TR>
				<TR>
				<TD rowSpan=3 width=117>
				<P align=center><FONT style="FONT-SIZE: 10.5pt">11:30-14:00</FONT></P></TD>
				<TD rowSpan=3 width=254>
				<P align=center><FONT style="FONT-SIZE: 10.5pt">怀旧午餐</FONT></P></TD>
				<TD width=208>
				<P align=center><FONT style="FONT-SIZE: 10.5pt">石牌校区陶园、沁园、雍园</FONT></P></TD></TR>
				<TR>
				<TD width=208>
				<P align=center><FONT style="FONT-SIZE: 10.5pt">大学城校区楠园</FONT></P></TD></TR>
				<TR>
				<TD width=208>
				<P align=center><FONT style="FONT-SIZE: 10.5pt">南海校区风味餐厅</FONT></P></TD></TR>
				<TR>
				<TD rowSpan=5 width=117>
				<P align=center><FONT style="FONT-SIZE: 10.5pt">全天</FONT></P></TD>
				<TD width=254>
				<P align=center><FONT style="FONT-SIZE: 10.5pt">80周年办学历史图片展</FONT></P></TD>
				<TD width=208>
				<P align=center><FONT style="FONT-SIZE: 10.5pt">石牌校区第一课室大楼</FONT></P>
				<P align=center><FONT style="FONT-SIZE: 10.5pt">大学城校区图书馆</FONT></P>
				<P align=center><FONT style="FONT-SIZE: 10.5pt">南海校区教学楼宣传栏</FONT></P></TD></TR>
				<TR>
				<TD width=254>
				<P align=center><FONT style="FONT-SIZE: 10.5pt">木铎金声80年学人录（影像展）</FONT></P></TD>
				<TD width=208>
				<P align=center><FONT style="FONT-SIZE: 10.5pt">石牌校区第一课室大楼南广场</FONT></P>
				<P align=center><FONT style="FONT-SIZE: 10.5pt">大学城校区教学楼</FONT></P>
				<P align=center><FONT style="FONT-SIZE: 10.5pt">南海校区康有为广场</FONT></P></TD></TR>
				<TR>
				<TD width=254>
				<P align=center><FONT style="FONT-SIZE: 10.5pt">故事华师摄影展</FONT></P></TD>
				<TD width=208>
				<P align=center><FONT style="FONT-SIZE: 10.5pt">石牌校区第一课室大楼</FONT></P></TD></TR>
				<TR>
				<TD width=254>
				<P align=center><FONT style="FONT-SIZE: 10.5pt">师弟、师妹为学长补拍学位照</FONT></P></TD>
				<TD width=208>
				<P align=center><FONT style="FONT-SIZE: 10.5pt">石牌校区正门、孔子像</FONT></P>
				<P align=center><FONT style="FONT-SIZE: 10.5pt">大学城校区正门、砚湖旁</FONT></P></TD></TR>
				<TR>
				<TD width=254>
				<P align=center><FONT style="FONT-SIZE: 10.5pt">学生社团文化展示街</FONT></P></TD>
				<TD width=208>
				<P align=center><FONT style="FONT-SIZE: 10.5pt">石牌校区第一课室大楼北面</FONT></P>
				<P align=center><FONT style="FONT-SIZE: 10.5pt">中心花坛</FONT></P></TD></TR>
				<TR>
				<TD rowSpan=2 width=117>
				<P align=center><FONT style="FONT-SIZE: 10.5pt">14:00</FONT></P></TD>
				<TD width=254>
				<P align=center><FONT style="FONT-SIZE: 10.5pt">学生嘉年华</FONT></P></TD>
				<TD width=208>
				<P align=center><FONT style="FONT-SIZE: 10.5pt">石牌校区文化广场</FONT></P></TD></TR>
				<TR>
				<TD width=254>
				<P align=center><FONT style="FONT-SIZE: 10.5pt">校友回院系参加各类特色活动</FONT></P></TD>
				<TD width=208>
				<P align=center><FONT style="FONT-SIZE: 10.5pt">各学院办公楼</FONT></P></TD></TR>
				<TR>
				<TD width=117>
				<P align=center><FONT style="FONT-SIZE: 10.5pt">14:30</FONT></P></TD>
				<TD width=254>
				<P align=center><FONT style="FONT-SIZE: 10.5pt">南海校区校友联谊</FONT></P></TD>
				<TD width=208>
				<P align=center><FONT style="FONT-SIZE: 10.5pt">南海校区学生活动中心</FONT></P></TD></TR>
				<TR>
				<TD width=117>
				<P align=center><FONT style="FONT-SIZE: 10.5pt">19:30</FONT></P></TD>
				<TD width=254>
				<P align=center><FONT style="FONT-SIZE: 10.5pt">校庆音乐会</FONT></P></TD>
				<TD width=208>
				<P align=center><FONT style="FONT-SIZE: 10.5pt">大学城校区音乐厅</FONT></P></TD></TR></TBODY></TABLE>
